    <% layout("layouts/boilerplate.ejs") %> 

    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="post" class="validated-form" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="title">Title:</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please give a title.
                      </div>
                </div>  
                <div class="mb-3">
                    <label class="form-label" for="location">Location:</label>
                    <input class="form-control" type="text" name="campground[location]" id="location" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please give a location.
                      </div>
                </div>
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image Url:</label>
                    <input class="form-control" type="text" name="campground[image]" id="image" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose an image.
                      </div>
                </div> -->
                <div class="mb-3">
                    <input class="form-control" type="file" name="image" id="image" required multiple>
                </div>
                
                <div class="mb-3">
                    <label for="price">Price:</label>
                    <div class="input-group mt-2" >
                        <span class="input-group-text">$</span>
                        <input name="campground[price]" type="text" class="form-control" placeholder="0.00" id="price" aria-label="Amount (to the nearest dollar)" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please give a price.
                          </div>
                      </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description:</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
            </form>
          
           <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>

    
    
  
    
