<% layout("layouts/boilerplate")%>


<h1>REGISTRATION FORM</h1>
<form class="validated-form" action="/register" method="POST" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username:</label>
        <input class="form-control" type="text" name="user[username]" id="username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email:</label>
        <input class="form-control" type="email" name="user[email]" id="email" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password:</label>
        <input class="form-control" type="password" name="user[password]" id="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div>
        <button class="btn btn-success">Register</button>
    </div>
</form>